<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;">Hi there, I'm DJ.</strong></h1>
      <h2>I'm a <a href="/projects">web developer</a>, <a href="/posts">writer</a>, and <a href="/games">game developer</a>.
      <br><br>
      My mission is to use my creativity, privilege, liberal education, and technical skills to make lasting works that entertain, edify, and improve the quality of life for those less fortunate than me.</h2>
    </div>
  </div>
</div>

<!-- Posts -->
<div class="row clearfix">
  <div class="container" style="border-bottom: 1px solid #3333CC;">
    <h1 style="color: #3333CC; font-weight: bold;">Posts</h1>
  </div>
</div>
<div class="row clearfix text-center" style="margin-bottom: 16px;">
  <div class="container">
    <% @posts.each do |post| %>
      <%= render 'posts/card_post', :post => post %>
    <% end %>
  </div>
</div>
<div class="row clearfix text-center">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h3><%= link_to "For more posts, please visit the blog.", '/posts' %></h3>
    </div>
  </div>
</div>
<!-- Projects -->
<div class="row clearfix">
  <div class="container" style="border-bottom: 1px solid #3333CC;">
    <h1 style="color: #3333CC; font-weight: bold;">Projects</h1>
  </div>
</div>
<div class="row clearfix text-center"  style="margin-bottom: 16px;">
  <div class="container">
    <% @projects.each do |project| %>
      <%= render 'projects/card_project', :post => project %>
    <% end %>
  </div>
</div>
<div class="row clearfix text-center">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h3><%= link_to "To see all my projects, please visit my portfolio.", '/projects' %></h3>
    </div>
  </div>
</div>
<!-- Games -->
<div class="row clearfix">
  <div class="container" style="border-bottom: 1px solid #3333CC;">
    <h1 style="color: #3333CC; font-weight: bold;">Games</h1>
  </div>
</div>
<div class="row clearfix text-center"  style="margin-bottom: 16px;">
  <div class="container">
    <% @games.each do |game| %>
      <%= render 'games/card_game', :post => game %>
    <% end %>
  </div>
</div>
<div class="row clearfix text-center">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h3><%= link_to "To see all my games, please visit my games portfolio.", '/games' %></h3>
    </div>
  </div>
</div>
<!-- Closing -->
<div class="row clearfix text-center">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
  <h2>If you would like to discuss my work or have an idea for a project I can help out on, <%= link_to "let's talk.", '/contact' %></h2>
    </div>
  </div>
</div>