<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC; font-family: 'Roboto Slab', serif;">Searched: <%= @search_query %></h1>
      <h2><%= @searched_posts.count %> posts, <%= @searched_projects.count %> projects, and <%= @searched_games.count %> games found, listed below.</h2>
    </div>
  </div>
  <div class="col-md-12 column">
    <div class="container">
      <h2><%= @searched_posts.count %> posts found</h2>
      <div class="text-center">
        <% @searched_posts.each do |post| %>
          <%= render 'posts/card_post', :post => post %>
        <% end %>
      </div>
      <h2><%= @searched_projects.count %> projects found</h2>
      <div class="text-center">
        <% @searched_projects.each do |project| %>
          <%= render 'projects/card_project', :post => project %>
        <% end %>
      </div>
      <h2><%= @searched_games.count %> games found</h2>
      <div class="text-center">
        <% @searched_games.each do |game| %>
          <%= render 'games/card_game', :post => game %>
        <% end %>
      </div>
    </div>
  </div>
</div>