<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;"><%= @game.name %></strong></h1>
      <h2><%= @game.description %></h2>
    </div>
  </div>
  <div class="col-md-12 column" style="background-color: white;">
    <div class="container">
      <p style="text-align:center"><%= image_tag "#{@game.image}", width: "100%" %></p>
      <div style="font-size: 1.5em;"><%= @game.body.html_safe %></div>
    </div>
  </div>
  <div style="background-color: #eee;">
    <div class="container">
      <%= render 'games/share_game', :@post => @game %>
      <br>
      <h4 style="text-align: center; font-weight: bold;">Please check out some of my other games below:</h4>
    </div>
  </div>
  <div class="row clearfix text-center" style="background-color: white;">
    <div class="container">
      <% @random_games.each do |post| %>
        <%= render 'games/card_game', :post => post %>
      <% end %>
    </div>
  </div>
</div>
