<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;"><%= @project.name %></strong></h1>
      <h2><%= @project.description %></h2>
    </div>
  </div>
  <div class="col-md-12 column" style="background-color: white;">
    <div class="container">
      <p style="text-align:center"><%= image_tag "#{@project.image}", width: "100%" %></p>
      <p style="font-size: 1.5em;"><%= @project.body.html_safe %></p>
    </div>
  </div>

  <div style="background-color: #eee;">
    <div class="container">
      <%= render 'projects/share_project', :@post => @project %>
      <br>
      <h4 style="text-align: center; font-weight: bold;">Please check out some of my other projects below:</h4>
    </div>
  </div>
  <div class="row clearfix text-center" style="background-color: white;">
    <div class="container">
      <% @random_projects.each do |post| %>
        <%= render 'projects/card_project', :post => post %>
      <% end %>
    </div>
  </div>
</div>