<p id="notice"><%= notice %></p>


<h1 style="color: #3333CC;"><strong><%= @post.title %></strong> <span style="font-weight: bold; font-size: .5em; color: black;"><%= "#{@post.created_at.to_date.strftime("%B %d, %Y")}" %></span></h1>
<h2><%= @post.dek %></h2>

<p style="text-align:center"><%= image_tag "#{@post.image}", width: "100%" %></p>
<p><%= @post.body.html_safe %></p>
<br>
<p><strong>Thank you for reading. If you enjoyed the article, please consider sharing it with your friends. If you didn't enjoy the article, please consider sharing it with your enemies. If you want something else to read, <%= link_to "click here", post_path(@random_post) %>.</strong></p>