<p id="notice"><%= notice %></p>


<h2 style="color: #3333CC;"><%= @post.title %> <span style="font-weight: bold; font-size: .5em; color: black;"><%= "#{@post.created_at.to_date.strftime("%B %d, %Y")}" %></span></h2>
<p><em><%= @post.dek %></em></p>
<div style="border-bottom: 1px solid black;"></div>

<p style="text-align:center"><%= image_tag "#{@post.image}", size: "800x600" %></p>
<p><%= @post.body.html_safe %></p>
<br>
<p><strong>Thank you for reading. If you enjoyed the article, please consider sharing it with your friends. If you didn't enjoy the article, please consider sharing it with your enemies.</strong></p>
