<!DOCTYPE html>
<html>
<head>
  <title>DJ DeWitt</title>
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- Turbolinks -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Favicon -->
  <%= favicon_link_tag 'dj_dewitt_symbol_ico.ico' %>

  <meta charset="utf-8">
  <!-- <title>Navbar template for Semantic-UI</title> -->
  <meta name="description" content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->

</head>
<body>

<!-- <header> -->
  <% #render 'layouts/header' %>
<!-- </header> -->

<div class="ui grid" style="margin-top:0px; top: 0px;">

<%= render 'layouts/header' %>


<div class="three wide centered column"></div>

<!-- Body (Computer/Tablet) -->
<div class="four column computer tablet only row" style="margin-top:0px">
  <div class="three wide centered column"><%= render 'layouts/left_sidebar' %></div>
  <div class="eleven wide centered column"><%= yield %></div>
</div>

<!-- Body (Mobile) -->
<div class="four column mobile only row" style="margin-top:0px;">
  <div class="fifteen wide centered column padding-reset">
    <%= yield %>
    <%= render 'layouts/left_sidebar' %>
  </div>
</div>

<!-- Footer -->
<!-- <footer> -->
<div class="row" style="margin: 0px;">
  <div class="column" style="padding: 0px;">
    <%= render 'layouts/footer' %>
  </div>
</div>
<!-- </footer> -->

</div>


  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
</body>
</html>
